@import "../../styles/responsive.scss";

.navbar {
  background-color: #2a3447;
  height: 80px;
  margin: auto;
  max-width: 1240px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: relative;
  font-family: "PT Sans", sans-serif;
  z-index: 9999;
  .tolerance {
    font-family: "Bai Jamjuree", sans-serif;
    color: rgba(250, 208, 145, 0.918);
    text-transform: uppercase;
  }
  .navbar-container {
    display: flex;
    gap: 6px;
    align-items: center;
    @include md {
      position: absolute;
      flex-direction: column;
      display: flex;
      justify-content: center;
      height: 91vh;
      width: 100vw;
      background-color: #2a3447;
      top: 9vh;
      left: 0;
      text-align: center;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;

      &.open {
        transform: translateX(0);
      }
    }

    .navbar-items {
      font-size: 18px;
      transition: all 0.2s linear;
      font-weight: bold;
      color: #ffffff;

      @media screen and (max-width: $md) {
        width: 100%;
        margin: 5px 18px 35px 18px;
        padding: 20px;
        border: 1px solid rgb(250, 242, 228);

        &:hover {
          background-color: #fff;
        }
      }

      cursor: pointer;
      &:hover {
        color: rgba(250, 208, 145, 0.918);
      }
    }
  }
  .hamburger-icon {
    color: #fff;
    cursor: pointer;
    &:hover {
      color: rgba(250, 208, 145, 0.918);
    }
  }
  @media screen and (min-width: $md) {
    .hamburger-icon {
      visibility: hidden;
      display: none;
    }
  }
}
